{{define "ATTRIBUTE"}}
{{- $attr := . -}}
{{- if .Attribute}}$attr := .Attribute{{end -}}
{{- $obj := false -}}
{{- if .Object}}$obj := .Object{{end -}}
{{- if eq $attr.Type.Name "boolean" "int32" "int64" "uint32" "uint64" "float32" "float64" "string" -}}
{{template "ATTRIBUTE_IS_REQUIRED" .}}{{$attr.Type.Name}}
{{- else if eq $attr.Type.Name "array" -}}
[]{{template "ATTRIBUTE" $attr.Type.ElemType}}
{{- else if eq $attr.Type.Name "map" -}}
map[{{template "ATTRIBUTE" $attr.Type.KeyType}}]{{template "ATTRIBUTE" $attr.Type.ElemType}}
{{- else if eq $attr.Type.Name "[]byte" -}}
{{.Type.Name}}
{{- else if eq $attr.Type.Name "any" -}}
interface{}
{{- else -}}
{{template "ATTRIBUTE_IS_REQUIRED" .}}{{packageName $attr.Type.Package}}.{{$attr.Type.Name}}
{{- end}}
{{- end}}


{{define "ATTRIBUTE_IS_REQUIRED" -}}
{{- $attr := . -}}
{{- if .Attribute}}$attr := .Attribute{{end -}}
{{- $obj := false -}}
{{- if .Object}}$obj := .Object{{end -}}
{{if and $obj $obj.Validation}}{{if not $obj.Validation.Required }}*{{end}}{{end}}
{{- end}}