{{- define "IMPORTS" }}
{{ $imports := .ToSlice -}}{{ if $imports -}}
import (
{{- range $import := $imports }}
	{{ $import }}
{{- end }}
)
{{- end }}
{{- end }}

{{- define "PACKAGE" -}}
package {{ baseName .Package }}
{{ template "IMPORTS" . }}
{{ end }}
