{{ define "OBJECT" -}}
{{- range $field := .Type }}
	{{ varname .Name true}} {{ template "TYPE" $field.Attribute.Type }} {{ template "TAGS" $field.Attribute }}
{{- end }}
{{- end }}


{{ define "TAGS" -}}
	{{- if or (index .Metadata "go:struct:tag:json") (index .Metadata "go:struct:tag:xml") (index .Metadata "go:struct:tag:form") -}}
		`
		{{- if index .Metadata "go:struct:tag:json" }}json:{{ join (index .Metadata "go:struct:tag:json") "," | quote }}{{ end -}}
		{{- if index .Metadata "go:struct:tag:xml" }}xml:{{ join (index .Metadata "go:struct:tag:xml") "," | quote }}{{ end -}}
		{{- if index .Metadata "go:struct:tag:form" }}form:{{ join (index .Metadata "go:struct:tag:form") "," | quote }}{{ end -}}
		`
	{{- end -}}
{{- end }}


{{ define "STRUCT" }}
type {{ varname .Name true }} struct {
{{- template "OBJECT" . }}
}
{{ end }}


{{ define "PRIMITIVE_TYPE" }}
type {{ varname .Name true }} {{ template "TYPE" .Type }}
{{- end }}


{{ define "USERTYPE" -}}
{{ if isObject .Type }}{{ template "STRUCT" . }}
{{- else if isPrimitive .Type }}{{ template "PRIMITIVE_TYPE" . }}
{{ end }}
{{- end }}