{{ define "TYPE" }}
    {{- if eq .Name "int32" "int64" "uint32" "uint64" "float32" "float64" "string" -}}
        {{- .Name }}
    {{- else if eq .Name "boolean" -}}
        bool
    {{- else if eq .Name "array" -}}
        []{{ template "TYPE" .ElemType.Type }}
    {{- else if eq .Name "map" -}}
        map[{{ template "TYPE" .KeyType }}]{{ template "TYPE" .ElemType }}
    {{- else if eq .Name "[]byte" -}}
        {{ .Name }}
    {{- else if eq .Name "any" -}}
        interface{}
    {{- else -}}
    	{{if ne package .Package }}{{ packageName .Package }}.{{ end }}{{ .Name }}
    {{- end }}
{{- end }}