{{ define "SERVICE_INTERFACE" }}
type Service interface {
	{{- range .Service.Methods }}
	{{ template "SERVICE_METHOD" . -}}
	{{- end }}
}
{{ end }}

{{- define "SERVICE_METHOD" -}}
	{{ varname .Name true }}(ctx context.Context{{ if len .Payload.Type}}, {{ end }}{{ template "ARGUMENTS" .Payload.Type }})
	{{- if len .Results.Type }} ({{ template "RETURN_TYPES" .Results.Type }}, error){{ else }} error{{ end }}
{{- end }}