{{ define "SERVICE" }}
type {{ .Service.Name }} interface {
	{{- range .Service.Methods }}
	{{ template "METHOD" . -}}
	{{- end }}
}
{{ end }}

{{- define "METHOD" -}}
	{{ .Name }}() ({{ if .Results }}{{ template "TYPES" .Results }}{{ end }})
{{- end }}