{{define "ATTRIBUTE"}}
{{- if eq .Type.Name "boolean" "int32" "int64" "uint32" "uint64" "float32" "float64" "string" -}}
{{template "ATTRIBUTE_IS_REQUIRED" .}}{{.Type.Name}}
{{- else if eq .Type.Name "array" -}}
[]{{template "ATTRIBUTE" .Type.ElemType}}
{{- else if eq .Type.Name "map" -}}
map[{{template "ATTRIBUTE" .Type.KeyType}}]{{template "ATTRIBUTE" .Type.ElemType}}
{{- else if eq .Type.Name "[]byte" -}}
{{.Type.Name}}
{{- else if eq .Type.Name "any" -}}
interface{}
{{- else -}}
{{template "ATTRIBUTE_IS_REQUIRED" .}}{{packageName .Type.Package}}.{{.Type.Name}}
{{- end}}
{{- end}}


{{define "ATTRIBUTE_IS_REQUIRED" -}}
{{if .Validation}}{{if not .Validation.Required}}*{{end}}{{end}}
{{- end}}